<%= render "tabs", tab: "user" %>

<% if admin_signed_in? %>
  <p>
    <%= link_to "New Participant", new_user_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>
<br/>
Click a person's name to see their activity
<% @users.each do |user| %>
  <hr>
  <div class="panel panel-default p-1 mt-4">
    <%= link_to(user.name, user_path(user),
              { class: "btn btn-default btn-lg bg-info-subtle" }) %>
    Balance: <%= user.balance %>
  </div>
<% end %>
