<h1>Users</h1>
<p>
  <%= link_to "Items", items_path,
      { class: "btn btn-default bg-secondary-subtle" } %>
  <% if admin_signed_in? %>
    <%= link_to "New User", new_user_path,
        { class: "btn btn-default bg-secondary-subtle" } %>
  <% end %>
</p>

<% @users.each do |user| %>
  <hr>
  <div class="panel panel-default p-1 mt-4">
    <%= link_to(user.name, user_path(user),
              { class: "btn btn-default btn-lg bg-info-subtle" }) %>
    Balance: <%= user.balance %>
  </div>
<% end %>
