<%= render "tabs", tab: "home" %>

<% if admin_signed_in? %>
  <p class="mt-3">
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
    <%= link_to "New User", new_user_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<br/>

<p>
  As a participant in the auction, you have 500 tickets to use between
  the raffle, auction, and buy-in items. Each type of item works
  differently:
</p>

<p>
  <b><a href="/items?type=Raffle">Raffle Items:</a></b>
  Choose how many tickets you would like to enter for each item. Many
  items have multiple winners. Raffle winners will be drawn after the
  event has concluded and notified via email.
</p>

<p>
  <b><a href="/items?type=Buy-In">Buy-In items:</a></b>
  Some items in the auction are events that do not have a
  participation limit. Each of these costs 50 tickets, and when you
  buy in, you are guaranteed a spot at the event for you and a plus
  one, or you and your family.
</p>

<p>
  <b><a href="/items?type=Auction">Auction:</a></b>
  Before the Auction starts you can view the item listings.
</p>

<br/>

<p>
  <h4>Website Navigation:</h4>
</p>

<p>
  <b>To view all items</b>, select the corresponding tab at the top of the page.
</p>

<p>
  <b>To view item details</b>, including item description, host, date,
  and format, select the Enter Tickets button to the left of an item.
</p>

<p>
  <b>To enter raffle tickets</b>, write in <b>your unique code</b> and the number
  of tickets you want to enter. This number will be deducted from your
  total. <b>To change the number of tickets</b> you want for a certain item,
  type in your code and the <b>total number of tickets</b> you want, then
  click the "Update Tickets" button. (For example, if you have
  already entered 10 tickets, and you want to add five more, type in
  15 total. If you type in 5, you will only enter 5). If you want to
  remove all of your tickets from an item, type in your code, enter 0
  tickets, and click "Update Tickets".
</p>

<p>
  <b>To participate in buy-in items</b>, type in your code, check the
  "Get One" box, and click "Update Tickets". Each buy-in
  item costs 50 tickets. This number will be deducted from your
  total. To remove yourself from a buy-in item, type in your code,
  un-check the "Get One" box, and click "Update Tickets".
</p>

<p>
  <b>To view your ticket balance</b>, select the users tab, and
  find your name. <b>Click on your name</b> to see how many tickets you have
  spent on each item.
</p>

<br/>

<h4>Auction:</h4>
<p>
  During the auction, each item will be
  announced, and you will have a chance to bid. The item will go to
  the highest bidder, who will be deducted the number of tickets they
  bid. The amount you bid is part of your total ticket count. Please
  do not bid more than you have.
</p>

<p>
  After the auction, there will be a chance to enter any tickets
  not spent in the auction on raffle and buy-in items.
</p>

<p>
  Thank you for your participation! We could not do the work we do
  without your support.
</p>
