<%= render "tabs", tab: :home %>

<% if admin_signed_in? %>
  <p class="mt-3">
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
    <%= link_to "New Participant", new_user_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<p>
  As a participant in the auction, you have 500 tickets, to use
  between the raffle and live auction.
</p>

<p>
  <b><a href="/items">Raffle:</a></b><br/>
  <b>To view the items in the raffle,</b>select the
  <a href="/items">items tab</a> at the top of
  the page. There, you can see each item, the item’s host/contributor,
  how many of each item are in the raffle, and how many  tickets are in
  each raffle so far.
</p>

<p>
  <b>To view the item and enter tickets,</b> click on the Enter
  Tickets button to the left of each item. There, you can see a
  detailed description of the item and enter your tickets by writing
  in <b>your unique code</b> and either the number of tickets you want to
  enter or just check the box for items with a fixed number. This
  number will be deducted from your total.
</p>

<p>
  <b>To change the number of tickets</b> you want for a certain item, type in
  your code and the <b>total number of tickets you want</b>. (If you have 10,
  and you want to add 5 more, type in 15 total. If you type in 5, you
  will only enter 5).
</p>

<p>
  <b><a href="/items?auction=1">Live Auction:</a></b><br/>
  For the live auction, each item will be announced, and you will have a
  chance to bid. The item will go to the highest bidder, who will
  immediately give the number of tickets they bid (via the website). The
  amount you bid is part of your total ticket count. Please do not bid
  more than you have.
</p>

<p>
  After the live auction, there will be a chance to enter any tickets
  not spent in the live auction into the raffle.
</p>

<p>
  The live auction winners will be known on the day of the event. The
  raffle winners will be drawn and announced at a later date.
</p>

<p>
  Thank you for your participation! We could not do the work we do
  without your support.
</p>

<p>
  Questions? Find one of our hosts (Insert info for Sky, Matt, Maura?)
</p>
