<%= render "tabs", tab: "home" %>

<% if admin_signed_in? %>
  <p class="mt-3">
    <%= link_to "New Item", new_item_path,
        { class: "btn btn-default bg-danger-subtle" } %>
    <%= link_to "New User", new_user_path,
        { class: "btn btn-default bg-danger-subtle" } %>
  </p>
<% end %>

<br/>

<p>
  As a participant in the auction, you have 500 tickets to use between
  raffle and auction items. Each type of item works differently:
</p>

<p>
  <b><a href="/items?type=Raffle">Raffle Items:</a></b>
  Choose how many tickets you would like to enter for each item. Many
  items have multiple winners. Raffle winners will be drawn* after the
  event has concluded and notified via email.
</p>

<p>
  Note: Some raffle items are "unlimited." This means that they cost 1
  ticket and have no participation limit. If you enter a ticket for
  one of these items, you are guaranteed a spot at the event for you
  and a plus one, or you and your family.
</p>

<p>
  <b><a href="/items?type=Auction">Auction:</a></b>
  These items will be auctioned live during the event (see details
  below). You can view the item listings before the auction starts.
</p>

<br/>

<p>
  <h4>Website Navigation:</h4>
</p>

<p>
  <b>To view items</b>, select the corresponding tab at the top of the
  page. For raffle items, click Filter by Tag to see only items
  falling into a particular category.
</p>

<p>
  <b>To view item details</b>, including item description, host,
  accessibility information, and timing, select the Enter Tickets
  button to the right of an item.
</p>

<p>
  <b>To enter raffle tickets</b>, write in <b>your unique code</b> and
  the number of tickets you want to enter. This number will be
  deducted from your total. <b>To change the number of tickets</b> you
  want for a certain item, type in your code and the <b>total number
  of tickets</b> you want, then click the "Update Tickets"
  button. (For example, if you have already entered 10 tickets, and
  you want to add 5 more, type in 15 total. If you type in 5, you will
  only enter 5.)  If you want to remove all of your tickets from an
  item, type in your code, enter 0 tickets, and click "Update
  Tickets."
</p>

<p>
  Note: For <b>raffle items that are unlimited</b>, type in your code,
  check the "Get One" box, and click "Update Tickets." Each unlimited
  item costs 1 ticket. This number will be deducted from your
  total. To remove yourself from an unlimited item, type in your code,
  un-check the "Get One" box, and click "Update Tickets."
</p>

<p>
  <b>To view your ticket balance</b>, select the Users tab and find
  your name. <b>Click on your name</b> to see how many tickets you
  have spent on each item.
</p>

<br/>

<h4>Auction:</h4>
<p>
  During the auction, each item will be announced, and you will have a
  chance to bid. The item will go to the highest individual bidder,
  who will have deducted the number of tickets they bid. The amount you
  bid is part of your total ticket count. Please do not bid more than
  you have.
</p>

<p>
  After the auction, there will be a chance to enter any tickets not
  spent in the auction on raffle items.
</p>

<p>
  Thank you for your participation! We could not do the work we do
  without your support.
</p>

<h4>Raffle Drawing Strategy</h4>

<p>
  In keeping with the anti-capitalist, community-centered spirit of
  this event, we are using a modified approach to drawing raffle
  winners. You can read more about our algorithm below, but the short
  version is: we’re making it more likely that everyone who
  participates will win something! To increase your chances of winning
  the items you want, we suggest using the following strategy:
</p>

<ul>
  <li>Put at least 1 ticket on every item you are interested in.</li>

  <li>
    Put the most tickets on the item you are most interested in. Then,
    put the second-most tickets on the item you are second-most
    interested in, and so on. (For example: If you have 100 tickets
    and are interested in 3 items, you might put 50 tickets on your
    first choice, 30 on your second choice, and 20 on your third
    choice.)
  </li>
</ul>

<p>
  One way to do this is to start by going through the list of raffle
  items and adding 1 ticket to every item you are interested in. Then,
  look at the list of items you have put tickets on, and add more to
  your favorites until all your remaining tickets are distributed.
</p>

<h4>The Algorithm</h4>
<p>
  To maximize the chances of everyone winning at least one item they
  are interested in, we are using an algorithm to choose winners
  rather than doing a simple random ticket draw. The algorithm works
  in the following way:
</p>
<ul>
  <li>One participant is randomly selected.<sup>*</sup></li>
  <li>The selected participant is assigned the item that they placed the most tickets on.</li>
    <ul>
      <li>If that item is no longer available, they are assigned the item they placed the second-most tickets on, and so on.</li>
      <li>
	If they placed the same number of tickets on two items, they are assigned whichever item has the fewest total tickets from
	all participants.
      </li>
    </ul>
  <li>
    The process repeats until all items are assigned or there are no
    participants left who want the remaining items.
  </li>
</ul>

<sup>*</sup>Note: the random selection is technically a shuffle of
all the participants, so no one gets two items before everyone has at
least had a chance to get their first time.  Once everyone gets a
chance to get something, the list of participants is again shuffled.
