<h1>Items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <a href="<%= item_path(item) %>">
        <%= item.description %>
      </a>
    </li>
  <% end %>
</ul>

<%= link_to "New Item", new_item_path %>
