<h1>Items</h1>
<%= link_to "New Item", new_item_path %>

<ul>
  <% @items.each do |item| %>
    <li>
      <a href="<%= item_path(item) %>">
        <%= item.description %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "Users", users_path %></li>
</p>
